<template>
  <div class="head">
    <div class="login-img">
      MyApi (v0.4)
    </div>
    <div class="head-right" style="margin-right: 10px" >
      <nuxt-link @click="logout">Logout</nuxt-link>
    </div>
  </div>

  <div class="wrapperbody">
    <div class="left-menu">
      <div class="item_menu" v-for="MenuAdmin in MenuAdmins">
        <NuxtLink :to="MenuAdmin.to" no-prefetch>
          {{MenuAdmin.title}}
        </NuxtLink>
      </div>
    </div>
    <div class="content">
      <slot />
    </div>
  </div>

</template>

<style scoped>
  @import url("~/assets/css/admin.css");

  .content{
    width: calc(100% - 250px);
  }
</style>

<script lang="ts" setup >
const MenuAdmins = [
  {"title":"Главная","to":"/admin"},
  {"title":"Пользователи","to":"/admin/list/users"},
  {"title":"Язык","to":"/admin/list/langs"},
  {"title":"Слайдер","to":"/admin/list/sliders"},
  {"title":"Группы","to":"/admin/list/catalogs"},
  {"title":"Ассортимент","to":"/admin/list/items"},
  {"title":"Характеристики","to":"/admin/list/specifications"},
  {"title":"Инф. блок","to":"/admin/list/infoblocks"},
  {"title":"Страницы","to":"/admin/list/pages"},
]

definePageMeta({
  middleware: 'auth',
})

import { storeToRefs } from 'pinia'; // import storeToRefs helper hook from pinia
import { useAuthStore } from '~/stores/auth'; // import the auth store we just created
const router = useRouter();
const { logUserOut } = useAuthStore(); // use authenticateUser action from  auth store
const { authenticated } = storeToRefs(useAuthStore()); // make authenticated state reactive with storeToRefs

const logout = () => {
  logUserOut();
  router.push('/login');
};


</script>
