<script setup >

  import {ref} from "vue";
  const config = useRuntimeConfig()

  const props = defineProps({
    idrecord:Number,
  })


  const formDataLists = ref({});
  const token = useCookie('token')
  const getDataId = async () => {
    let datarecordvalues = await $fetch(config.public.apiBaseUrl+'specifications/list_value/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        "Authorization": "Bearer " + token.value
      },
    })
    formDataLists.value= datarecordvalues
  }
  const myChangeEvent = async (event,listid) => {
    let datarecordvalues = await $fetch(config.public.apiBaseUrl+'specifications/update_value/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        "Authorization": "Bearer " + token.value
      },
      body: JSON.stringify({'recordid':props.idrecord,
        'dataupdate':myValue.value[listid],
        'specifications_id':listid,

      })
    })
  }


  let spechValue = await $fetch(config.public.apiBaseUrl+'specifications/get_value_ids/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      "Authorization": "Bearer " + token.value
    },
    body: JSON.stringify({'recordid':props.idrecord})
  })

  const myValue = ref({});
  for(let i=0;i<spechValue.length;i++){
    myValue.value[spechValue[i]['id']]=spechValue[i]['idsValue']
  }

  console.log(myValue)

  await getDataId()

</script>

<template>
  <div>
    <b>Характеристики</b>


    <div class="form-item"  v-for="formDataList in formDataLists">
      <div class="title-item">
        {{formDataList.name}}
      </div>
      <div class="input-item">


        <select v-model="myValue[formDataList.id]"
                @change="myChangeEvent($event,formDataList.id)"
                class="textinput"
                multiple>
            <option v-for="keyValue  in  formDataList.resultArrayValye" :value="keyValue['id']">{{keyValue['text']}}</option>
        </select >

        <!--
                <Select2 v-model="myValue[formDataList.id]"
                       :options="formDataList.resultArrayValye"
                       :settings="{ settingOption: value, settingOption: value , multiple: 'true'}"
                       @select="myChangeEvent($event,formDataList.id)"
                />
      !-->
            </div>
          </div>

        </div>
      </template>

