<script setup lang="ts">


let emit = defineEmits(['update:modelValue']);
const config = useRuntimeConfig()


const props = defineProps(['propdata','tablename','setvalue','modelValue']);

const valueSelect = ref(props.setvalue);
const performPostRequest = async () => {
  try {
    const apiUrl = config.public.apiBaseUrl+props.tablename+'/list_table/'
    const token = useCookie('token')
    const response = await fetch(apiUrl, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        "Authorization": "Bearer " + token.value
      },
    });
    const responseData = await response.json()
    return responseData
  } catch (error) {
    console.error('Error:', error)
  }
};
const dataLists =await performPostRequest()
</script>

<template>
  <div >


    <select :name="props.propdata.column"
            v-model:=valueSelect
            @change="emit('update:modelValue', Number($event.target.value))"
            class="custom-select"
    >
      <option :value=0>--- Нет родителя ---</option>
      <option :value=dataList.id v-for="dataList in dataLists">{{dataList.name}}</option>
    </select>


  </div>
</template>
