<script setup >
import {ref} from "vue";
const token = useCookie('token')
const props = defineProps({
  idrecord:Number,
})
const config = useRuntimeConfig()
const newName = ref("");
const formDataLists = ref({})

const getDataId = async () => {
  let datarecordvalues = await $fetch(config.public.apiBaseUrl+'specifications/list_value/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      "Authorization": "Bearer " + token.value
    },
  })
 // formDataLists.value= datarecordvalues
  for(let i=0;i<datarecordvalues.length;i++)
  {
    if(datarecordvalues[i]['id']==props.idrecord)
      formDataLists.value=datarecordvalues[i]['resultArrayValye']
  }
}


const insertNewValue = async () => {

  const apiUrl = config.public.apiBaseUrl+'specifications_value/store/'
  let response = await $fetch(apiUrl, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      "Authorization": "Bearer " + token.value
    },
    body:{"specifications_id":props.idrecord,"name":newName.value},
  });
  newName.value=""
  getDataId()
}

getDataId()


</script>

<template>
  <div>
    Новое название
    <input type="text" class="textinput"
           v-model="newName"

    >
    <div  @click="insertNewValue" style="padding: 10px;background: green;color: white;cursor: pointer">
      Новая запись
    </div>

    <table class="tableList" style="color: white">
      <thead>
      <tr>
        <td>id</td>
        <td>Название</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
        <tr v-for="dataList in formDataLists">
          <td class="textblue">{{ dataList.id }}</td>
          <td class="textblue">{{ dataList.text }}</td>
          <td>
            <!--
            <img src="/png/pencil-alt.png" class="imgcursor">
            <img src="/png/trash.png" class="imgcursor"  >
            -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>