<template>
  <div>
    <table class="tableList">
      <thead>
        <tr>
          <td></td>
          <td>id</td>
          <td v-for="tablehead in tableheads">{{tablehead.td}}</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="dataList in datalistStore.getdata()">
          <td class="centertd">
            <input type="checkbox">
          </td>
          <td class="textblue">{{ dataList.id }}</td>
          <td v-for="tablehead in tableheads">
            {{ dataList[tablehead.column]}}
          </td>
          <td>
            <img src="/png/pencil-alt.png" class="imgcursor"
                 @click="()=>{isOpen = true;intId=dataList.id}"
            >
            <img src="/png/trash.png" class="imgcursor" @click="deleterecord(dataList)" >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <editlist
      @closeModalEditClick="closeModalEdit"
      :tablename="props.tablename"
      :idrecord="intId"
      :formedit="props.formedit"
      :formlang="props.formlang"
      v-if="isOpen"
    >

  </editlist>


</template>


<script setup lang="ts">
  import {useDatalistStore} from "~/stores/datalist";
  import Editlist from "~/components/common/editlist.vue";
  const config = useRuntimeConfig()
  console.log(config.public.apiBaseUrl)

  const isOpen = ref(false)
  const intId = ref(0)

  const closeModal = () => {
    isOpen.value = false;
  }

  const closeModalEdit = async () => {
    const { data, error } = await useAsyncData(() => datalistStore.fetch())
    isOpen.value = false;

  }


  import Createrecord from "~/components/common/createrecord.vue";
  const props = defineProps({
    tableheads: String,
    tablename: String,
    formedit: String,
    formlang: String
  })


  const urlApi=config.public.apiBaseUrl+props.tablename+'/list/'
  const datalistStore = useDatalistStore()
  datalistStore.seturl(urlApi)
  datalistStore.tablename=props.tablename
  const { data, error } = await useAsyncData(() => datalistStore.fetch())


  const deleterecord = async (dataList) => {
    datalistStore.deleterecord(dataList.id)
  };


</script>

