@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}
body{
    background: #0F172A;
}


.head{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 56px;
    background: #334155;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.head .login-img{
    width: 240px;
    display: flex;
    justify-content: center;
}

.imgcursor{
    cursor: pointer;
    margin-left: 10px;
}

.textinput{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.textinput:focus{
    background: #0b688d;
    color: white;
}


.wrapperbody {
    display: flex;
    flex-wrap: wrap;
}
.wrapperbody .left-menu{
    width: 240px;
    padding: 20px 12px;
}
.wrapperbody .left-menu .item_menu{
    color: #64748B;
    /* Body Regular */
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    padding-left: 20px;
}
.wrapperbody .left-menu .item_menu a{
    color: #64748B;
    /* Body Regular */
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
}

.wrapperbody .content{
    display: flex;
}

.title_list {
    margin-top: 20px;
    width: 100%;
    color: #64748B;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}
.content .card{
    border-bottom: 1px solid  #334155;
    background:  #1E293B;
    color: #94A3B8;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.w100{
    width: 100%;
}
.wrapper_btn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.btcreate{
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-radius: 4px;
    background:  #0EA5E9;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.tableList{
    width: 100%;
    padding: 10px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.tableList thead tr td
{
    height: 40px;
    border-bottom: 1px solid #334155;
    border-top: 1px solid #334155;
    background: #1E293B;
    margin-top: 10px;
}

.tableList tbody tr td
{
    height: 51px;
    border-bottom: 1px solid  #334155;
    background: #1E293B;
}

.tableList tbody tr .centertd{

}



/* modal start*/
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.69);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .modal_content{
    width: 100%;
    max-width: 720px;
    min-height: 100px;
    padding: 10px;
    background: white;
    position: relative;
    color: black;
    max-height: 90vh;
    overflow: auto;
}
.modal .modal_content .close_modal{
    position: absolute;
    right: 10px;
    top: 10px;
    background: #334155;
    color: white;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.modal .modal_content .title_modal{
    /* H2 */
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    width: 100%;
}

.modal  .modalform{
    width: 100%;
}
.modal  .modalform .form-item{
    display: flex;
    flex-wrap: wrap;
}
.modal  .modalform .title-item{
    width: 100%;
    margin-bottom: 10px;
}
.modal  .modalform .input-item{
    width: 100%;
}
.modal  .modalform .submitdiv{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.modal  .modalform .submitdiv .savebtn{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* modal end */



/***/
.custom-select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

textarea {
    padding: 10px;
    width: 100%;
    background: #1E293B;
    color: white;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

/* lang form */
.div_langs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.div_langs .lang_item{
    width: 100px;
    height: 40px;
    padding: 10px;
    background: #0b688d;
    color: white;
    text-align: center;
    cursor: pointer;
}
.wrapper_form_lang{
    display: flex;
    flex-wrap: wrap;
}
.lang_form{
    width: 100%;
}
.lang_form .form-item{
    width: 100%;
}

.select2-container{
    width: 100% !important;
}