<script setup lang="ts">
import Tablelist from "~/components/common/tablelist.vue";
import Createrecord from "~/components/common/createrecord.vue";
definePageMeta({
  layout: 'admin',
  middleware: 'auth',
})
const tablehead = [
  {"column":"name", "td":"Название блока"   },
]

const tablename="infoblocks"
const urlcreate="infoblocks/store/"


/*START FORM CREATE*/
const formcreate = [
  {"column":"name" , "name" :"Название" , "type":"text" },
]

const formedit = [
  {"column":"name" , "name" :"Название" , "type":"text" },
]

const formlang =[
  {"column":"htmlblock" , "name" :"html-block" , "type":"textarea" },
]



/*END FORM CREATE*/


/*param show modal*/
const isOpen = ref(false)
const closeModal = () => {
  isOpen.value = false;
}

</script>
<template>
  <div class="w100">
    <div class="title_list">
      Информационный блок
    </div>
    <div class="wrapper_btn">
      <div>
      </div>
      <div class="btcreate" @click="isOpen = true" >
        Create record
      </div>
    </div>
    <div class="card">
      <tablelist
          :tableheads="tablehead"
          :tablename="tablename"
          :formedit="formedit"
          :formlang="formlang"
      >
      </tablelist>

      <createrecord
          @closeModalClick="closeModal"
          :formcreate="formcreate"
          :tablename="tablename"
          :urlcreate="urlcreate"
          v-if="isOpen">
      </createrecord>

    </div>

  </div>
</template>

<style scoped>


</style>