<script setup lang="ts">
import Tablelist from "~/components/common/tablelist.vue";
import Createrecord from "~/components/common/createrecord.vue";
definePageMeta({
  layout: 'admin',
  middleware: 'auth',
})
const tablehead = [
  {"column":"name", "td":"Название"},
  {"column":"slug", "td":"ЧПУ"},
  {"column":"price", "td":"цена"},
]

const tablename="items"
const urlcreate="items/store/"

/*START FORM CREATE*/
const formcreate = [
  {"column":"name" , "name" :"Название" , "type":"text" },
  {"column":"slug", "name" :"ЧПУ" , "type":"text"  },
  {"column":"catalog_id", "name" :"Категория" ,
    "type":"selectdb",
    "table":"catalogs",
    "select_option":"id","select_value":"name" },
  {"column":"price", "name" :" Цена" , "type":"number"  },
]

const formedit = [
  {"column":"name" , "name" :"Название" , "type":"text" },
  {"column":"slug", "name" :"ЧПУ" , "type":"text"  },
  {"column":"price", "name" :" Цена" , "type":"number"  },
  {"column":"catalog_id", "name" :"Категория" ,
    "type":"selectdb",
    "table":"catalogs",
    "select_option":"id","select_value":"name" },
  {"column":"foto" , "name" :"Основное фото" , "type":"file" },
]

const formlang =[
  {"column":"title" , "name" :"Название на языке" , "type":"text" },
  {"column":"about" , "name" :"Описание" , "type":"ckeditor" },
]
/*END FORM CREATE*/

/*param show modal*/
const isOpen = ref(false)
const closeModal = () => {
  isOpen.value = false;
}

</script>
<template>
  <div class="w100">
    <div class="title_list">
      Ассортимент
    </div>
    <div class="wrapper_btn">
      <div>
      </div>
      <div class="btcreate" @click="isOpen = true" >
        Create record
      </div>
    </div>
    <div class="card">
      <tablelist
          :tableheads="tablehead"
          :tablename="tablename"
          :formedit="formedit"
          :formlang="formlang"
      >
      </tablelist>

      <createrecord
          @closeModalClick="closeModal"
          :formcreate="formcreate"
          :tablename="tablename"
          :urlcreate="urlcreate"
          v-if="isOpen">
      </createrecord>

    </div>

  </div>
</template>

<style scoped>


</style>