<script setup lang="ts">
import Tablelist from "~/components/common/tablelist.vue";
import Createrecord from "~/components/common/createrecord.vue";

definePageMeta({
  layout: 'admin',
  middleware: 'auth',
})

const tablehead = [
  {"column":"short" , "td":"Короткое название"  },
  {"column":"name", "td":"Название"   },
]
const tablename="langs"
const urlcreate="langs/store/"

/*START FORM CREATE*/
const formcreate = [
  {"column":"short" , "name" :"Короткое название" , "type":"text" },
  {"column":"name", "name" :"Название" , "type":"text"  },
]

const formedit = [
  {"column":"short" , "name" :"Короткое название" , "type":"text" },
  {"column":"name", "name" :"Название" , "type":"text"  },
]
const formlang =[]

/*END FORM CREATE*/
/*param show modal*/
const isOpen = ref(false)
const closeModal = () => {
  isOpen.value = false;
}




</script>

<template>
  <div class="w100">
    <div class="title_list">
      Язык системы
    </div>

    <div class="wrapper_btn">
      <div>

      </div>
      <div class="btcreate" @click="isOpen = true" >
        Create record
      </div>
    </div>

    <div class="card">

      <tablelist
          :tableheads="tablehead"
          :tablename="tablename"
          :formedit="formedit"
          :formlang="formlang"
      >
      </tablelist>

      <createrecord
          @closeModalClick="closeModal"
          :formcreate="formcreate"
          :urlcreate="urlcreate"
          v-if="isOpen">
      </createrecord>

    </div>

  </div>
</template>

