<script setup lang="ts">

  import Tablelist from "~/components/common/tablelist.vue";
  import Createrecord from "~/components/common/createrecord.vue";


  definePageMeta({
    layout: 'admin',
    middleware: 'auth',
  })

  /* CONFIG TABLE */
  const tablehead = [
    {"column":"name" , "td":"Ф.И.О."  },
    {"column":"email", "td":"email"   },
  ]
  const tablename="users"
  const urlcreate="register"
  /* END CONFIG TABLE*/

  /*START FORM CREATE*/
  const formcreate = [
    {"column":"name" , "name" :"Ф.И.О." , "type":"text" },
    {"column":"email", "name" :"email" , "type":"email"  },
    {"column":"hashed_password", "name" :"пароль" , "type":"password"  },
  ]

  const formedit = [
    {"column":"name" , "name" :"Ф.И.О." , "type":"text" },
    {"column":"email", "name" :"email" , "type":"email"  },
  ]
  const formlang =[]

  /*END FORM CREATE*/


  /*param show modal*/
  const isOpen = ref(false)
  const closeModal = () => {
    isOpen.value = false;
  }
</script>

<template>
  <div class="w100">
    <div class="title_list">
      Пользователи
    </div>

    <div class="wrapper_btn">
      <div>
      </div>
      <div class="btcreate" @click="isOpen = true" >
        Create record
      </div>
    </div>

    <div class="card">

      <tablelist
          :tableheads="tablehead"
          :tablename="tablename"
          :formedit="formedit"
          :formlang="formlang"
      >
      </tablelist>

      <createrecord
          @closeModalClick="closeModal"
          :formcreate="formcreate"
          :urlcreate="urlcreate"
          v-if="isOpen">
      </createrecord>




    </div>

  </div>
</template>

<style scoped>


</style>