<template>
  <div class="w100">
    <div class="title_list">
      Описание системы
    </div>

    <div class="card">
      Система управления данными
    </div>
  </div>
</template>
<script lang="ts" setup>
import Createrecord from "~/components/common/createrecord.vue";
import Tablelist from "~/components/common/tablelist.vue";

definePageMeta({
  layout: 'admin',
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})
</script>