<script setup lang="ts">
definePageMeta({
  layout: 'enter'
})

import { storeToRefs } from 'pinia'; // import storeToRefs helper hook from pinia
import { useAuthStore } from '~/stores/auth'; // import the auth store we just created
const { authenticateUser } = useAuthStore(); // use authenticateUser action from  auth store
const { authenticated } = storeToRefs(useAuthStore()); // make authenticated state reactive with storeToRefs
const user = ref({
  email: 'test@test1.ru',
  hashed_password: 'password',
});
const router = useRouter();
const login = async () => {
  await authenticateUser(user.value); // call authenticateUser and pass the user object
  // redirect to homepage if user is authenticated
  if (authenticated) {
    router.push('/');
  }
};
</script>

<template>
  <div class="login">

    <div class="login-form">
      <div class="login__title bold">
        Entrance
      </div>
      <div class="login__title">
        email
      </div>
      <div class="login__input">
          <input type="text" class="login-form__input"  v-model="user.email">
      </div>
      <div class="login__title">
        password
      </div>
      <div class="login__input">
          <input type="password" class="login-form__input"  v-model="user.hashed_password">
      </div>
      <div class="login__button">
        <input type="button" class="login-form__button"  @click.prevent="login" value="Enter">
      </div>
    </div>

  </div>
</template>

<style scoped>
button,
button:active,
button:focus  {
  border:none;
}
  .login{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .login .login-form{
    width: 100%;
    max-width: 320px;
    padding: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    background: #dfd8d8;
  }
  .login .login-form .login__title{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333238;
    text-align: left;
  }
  .login .login-form .login__title.bold{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
  }
  .login-form__input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .login-form__button{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
  }
</style>